# Core API
fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
requests

# Machine Learning
torch
transformers
sentencepiece
scikit-learn==1.2.2

# Data & Visualization
pandas
plotly>=5.18
numpy==1.25.4
kaleido

# Language Detection
langdetect