# Core API
fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
requests

# Machine Learning
torch
transformers
sentencepiece

# Data & Visualization
pandas
plotly
numpy

# Language Detection
langdetect